.btn {
  position: relative;
  background: none;
  border: solid 1px #121212;
  padding: 6px 15px;
  cursor: pointer;
}

.btn:hover {
    background-color: rgb(244, 244, 244);
  
}
.btn:active{
    transform: scale(0.95);
}
