.btn {
  position: relative;
  background: none;
  border: solid 1px #121212;
  padding: 6px 15px;
  cursor: pointer;
}

.btn:hover {
    background-color: #f4f4f4;
  
}
.btn:active{
    transform: scale(0.95);
}
.green:hover{
  background: rgba(0, 128, 0, 0.732);
}
.red:hover{
  background: rgba(249, 19, 19, 0.875);
}
