.modal-cadastro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a6;
  opacity: 0;
  z-index: -1;
}
.modal-cadastro.active {
  opacity: 1;
  z-index: 1;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  
}

.modal-form-livro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-field-livro {
  width: 40%;
  height: 30px;
  margin: 10px;
  padding-left: 5px;
}
.modal-content {
  padding-bottom: 10px;
  width: 50vw;
  margin: 15vh auto;
  background-color: white;
}
