.records{
    width: 100%;
    user-select: none;
    text-align: left;
}
.records th{
    height: 50px;
    background-color:#abae5bb6;
    padding-left: 20px;
    font-size: 1.2rem;
}
.records td{
    height: 50px;
    padding-left: 20px;
}
.records td:hover{
    background: #ccc;
}
